body {
  margin: 100px 0;
}
h1,
h4 {
  text-align: center;
}
.contact {
  text-align: center;
}

h1,
h2,
h3 {
  font-family: "Quicksand", sans-serif;
}
nav {
  margin-top: -70px;
}
nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
  font-size: 20px;
}

nav a {
  text-decoration: none;
  color: #1e5f6c;
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: #ffb74d;
}
.logo {
  max-width: 50px;
}
